@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3 px-5 py-5">
    <img src="https://d1.awsstatic.com/logos/aws-logo-lockups/poweredbyaws/PB_AWS_logo_RGB.61d334f1a1a427ea597afa54be359ca5a5aaad5f.png" class="card-img-top w-80" alt="...">
    <div class="card-body">
        <h5 class="card-title">Prueba Técnica</h5>
        <p class="card-text">
            Se solicita crear un sistema de control de cotizaciones para clientes, tomar en cuenta las siguientes
            características: <br />
            <ul>
                <li> Catálogo de clientes</li>
                <li> Catálogo de familia de productos</li>
                <li> Catálogo de productos</li>
                <li> Encabezado de cotización</li>
                <li> Detalle de cotización</li>
            </ul>
           
            Para el desarrollo del sistema es muy importante utilizar las siguientes herramientas:
           
            <ul>
                <li>Bootstrap</li>
                <li>Asp .Net MVC (Visual Studio-CSharp)</li>
                <li>SQL Server</li>
            </ul>
           
            Nota: Implementar la opción PostBack con Ajax, esta acción permitirá actualizar inmediatamente el
            listado productos cuando se cambie la selección de familia de productos
        </p>
        <p class="card-text"><small class="text-muted">Github: <a href="https://github.com/JeffGeoMP/TechnicalMVC.git">https://github.com/JeffGeoMP/TechnicalMVC.git</a></small></p>
    </div>
</div>